<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ball1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{452,2},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{476,2},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
			<key>blue1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{386,2},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
			<key>blue2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{108,53},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
			<key>button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,49}</string>
                <key>spriteSourceSize</key>
                <string>{190,49}</string>
                <key>textureRect</key>
                <string>{{2,2},{190,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
			<key>buttonOver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,49}</string>
                <key>spriteSourceSize</key>
                <string>{190,49}</string>
                <key>textureRect</key>
                <string>{{194,2},{190,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
			<key>green1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{2,79},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
			<key>green2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{174,53},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
			<key>paddle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,24}</string>
                <key>spriteSourceSize</key>
                <string>{104,24}</string>
                <key>textureRect</key>
                <string>{{386,36},{104,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
			<key>paddle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,24}</string>
                <key>spriteSourceSize</key>
                <string>{104,24}</string>
                <key>textureRect</key>
                <string>{{2,53},{104,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
			<key>particle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{492,26},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
			<key>particle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{492,38},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
			<key>particle3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,19}</string>
                <key>spriteSourceSize</key>
                <string>{20,21}</string>
                <key>textureRect</key>
                <string>{{68,79},{20,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
			<key>purple1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{240,53},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
			<key>purple2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{306,53},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
			<key>red1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{372,62},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
			<key>red2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{438,62},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
			<key>silver1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{90,87},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
			<key>silver2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{156,87},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
			<key>yellow1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{222,87},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
			<key>yellow2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{288,87},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>breakout.png</string>
            <key>size</key>
            <string>{504,102}</string>
            <key>textureFileName</key>
            <string>breakout.png</string>
        </dict>
    </dict>
</plist>